﻿
@{
    ViewBag.Title = "DBLP";
}

<h2>DBLP</h2>

<ul style="list-style: none;">
    <li>
        @Html.CheckBox("articles")
        @Html.Label("Articles")
    </li>
    <li>
        @Html.CheckBox("inproceedings")
        @Html.Label("Inproceedings")
    </li>
    <li>
        @Html.CheckBox("phdthesis")
        @Html.Label("Phd Thesis")
    </li>
    <li>
        @Html.CheckBox("www")
        @Html.Label("Www")
    </li>
    <li>
        @Html.TextBox("start")
        @Html.Label("start date")
    </li>
    <li>
        @Html.TextBox("end")
        @Html.Label("end date")
    </li>
</ul>

<p><input class="btn btn-default" type="button" value="Plot" onclick="location.href='@Url.Action("DownloadDBLP", "Update")'" /></p>
