﻿
@{
    ViewBag.Title = "ACM";
}

<h2>ACM</h2>

<ul style="list-style: none;">
    <li>
        @Html.CheckBox("conferenceproceedings")
        @Html.Label("Conference Proceedings")
    </li>
    <li>
        @Html.CheckBox("journals")
        @Html.Label("Journals")
    </li>
    <li>
        @Html.CheckBox("magazines")
        @Html.Label("Magazines")
    </li>
    <li>
        @Html.CheckBox("signewsletters")
        @Html.Label("SIG Newsletters")
    </li>
    <li>
        @Html.CheckBox("transactions")
        @Html.Label("Transactions")
    </li>
    <li>
        @Html.TextBox("start")
        @Html.Label("start date")
    </li>
    <li>
        @Html.TextBox("end")
        @Html.Label("end date")
    </li>
</ul>

<p><input class="btn btn-default" type="button" value="Plot" onclick="location.href='@Url.Action("DownloadDBLP", "Update")'" /></p>
