﻿
@{
    ViewBag.Title = "DblpPlotResult";
}

<h2>DblpPlotResult</h2>

@{

    var myChart = new Chart(width: 800, height: 400)
        .AddTitle((string)System.Web.HttpContext.Current.Cache["title"])
        .AddSeries(
        name: "DBLP",
        xValue: (List<int>)System.Web.HttpContext.Current.Cache["x"],
        yValues: (List<int>)System.Web.HttpContext.Current.Cache["y"])
        .Write();

}
