﻿
@{
    ViewBag.Title = "Update";
}

<h2>Update libraries</h2>

<p><input class="btn btn-default" type="button" value="Update DBLP" onclick="location.href='@Url.Action("UpdateDBLP", "Update")'" /></p>
<p><input class="btn btn-default" type="button" value="Update ACM" onclick="location.href='@Url.Action("UpdateACM", "Update")'" /></p>


